<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Realtime</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main class="p-8">
        <h1>Hello world!</h1>
        <%- include('../partials/movies.ejs') %>
        <%- include('../partials/form.ejs') %>
    </main>
    <script src="scripts/index.js"></script>
</body>

</html>