<form action="/movie" method="post">
    <input type="text" name="title" id="title" class="border-2 px-1">
    <input type="text" name="author" id="author" class="border-2 px-1">
    <button type="submit" class="px-4 h-7 bg-blue-600 text-white rounded-md">Ajouter</button>
</form>