<nav class="flex flex-row p-4 bg-pink-400 text-white justify-between">
    <a href="">GDG Mahajanga</a>
    <ul class="flex justify-between w-64">
        <li><a href="">Home</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
    </ul>
</nav>