html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    background-color: yellowgreen;
    padding: 25px;
}

.item {
    background-color: brown;
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}